@page "/demo4"

<h3>Demo4</h3>
<p>Réponse de cible : @ReponseDeCible</p>

<button @onclick="@(() => Nav.NavigateTo("cible/17"))">Click ici</button>
<hr />
<button @onclick="Increment">Incrément</button>
<Cible id="Value" name="toto" CoucouEvent="SetReponse"></Cible>